<style type="text/css">
	.create-btn {
		float: right;
	}
</style>

<div class="container">
	<div class="feat-events back-div">
		<div class="transparency"></div>
		<div class="opaque-content">
			<h2 class="title">Featured Events</h2>
			<div class="row">
					<div class="col-md-4">
						<h3><%= @events[0][:event_name] %></h3>
						<p>Activity: <%= @events[0][:activity]["activity_name"] %></p>
						<p><%= @events[0][:description] %></p>
						<p>Address: <%= @events[0][:address] %></p>
						<p>Event created by <em><%= @events[0][:creator]["display_name"] %></em></p>
					</div>
			</div>
		</div>
		<div class="center-block">
			<a href="/events" class="more-button btn btn-success btn-lg">Find more events</a>
			<a href="/create_event" class="create-btn btn btn-warning btn-lg">Create event</a>
		</div>
	</div>

	<div class="suggested-buddies back-div">
		<div class="transparency"></div>
		<div>
			<h2 class="title">Suggested Buddies</h2>
		<div class="list-item">
			<div class="row">
				<!-- MAKE A FOR LOOP AND DELETE THE EXTRAS WHEN READY -->
				<div class="col-md-4 buddy-display">
					<img src="http://fillmurray.com/300/300" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="http://fillmurray.com/300/300" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="http://fillmurray.com/300/300" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
				<div class="col-md-4 buddy-display">
					<img src="http://fillmurray.com/300/300" class="img-rounded img-responsive">
					<p><strong>Name</strong></p>
					<p>Location</p>
					<p>Interests</p>
					<a href="#" class="more-button btn btn-primary">Email</a>
				</div>
			</div>
			<br><br>
		</div>
		<div class="center-block">
			<a href="#buddies" class="more-button btn btn-success btn-lg">Find more buddies</a>
		</div>
	</div>
</div>